@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Oswald');

p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Exo 2, serif;
  color: #777;
  text-align: right;
}

.milk-text {
  font: bold 2.6em Oswald;
  color: #FFF;
  text-shadow: 0 2px 3px #000;
}

#logo {
  background-color: aqua;
}

#logo h1 {
  font-family: Oswald;
}

#logo h2 {
  font-family: Exo 2;
}

#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: underline;
}

#details a:active {
  color: red;
}
