@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Type selector*/

p {

  font-size: 1em;
  line-height: 1.5em;
  font-family: "Roboto";
}

figcaption {
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif; */
  font: normal, 0.75/1.5em, Georgia, "New Times Roman", serif;
  color: #777;
  text-align: right;
}
